/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,700&display=swap');

:root {
    /* Main */
    --maincolor: #6952f5;
    --maincolor-desaturate: #826fff;
    --scroll-color: #161616ee;
    --bg-scroll-color: #4d4d4d;
    --nav-bg-color: #303030ee;
    --nav-anchor-color: #414141ee;
    --font-color: #e0e0e0;
    --icon-color: #bbbbbb;
    --bg-color: #252525;

    /* Introduction */

    /* About */
    --about-h1-color: #e0e0e0;
    --about-h2-color: #cacaca;
    --about-h3-color: #8f8f8f;
    /* Projects */
    --outline-color: #cfcfcf;

    /* Footer */
    --footer-bg-color: #161616;
    --footer-h1-color: #808080;

    /* No invert zone */
    --gameplay-card-color: rgba(255, 29, 88, 0.85);
    --uiux-card-color: rgba(0, 73, 183, 0.85);
    --level-card-color: rgba(183, 119, 0, 0.85);
    --coding-card-color: rgba(0, 183, 82, 0.85);
    --nongaming-card-color: rgba(24, 27, 27, 0.85);
    --wip: rgb(65, 65, 65);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;

    scrollbar-width: auto;
    scrollbar-color: var(--bg-scroll-color) var(--scroll-color);
}

html {
    scroll-behavior: smooth;
    -webkit-scroll-behavior: smooth;
}

body {
    background-color: var(--footer-bg-color);
    overflow-x: hidden;
}

.title {
    margin-bottom: 50px;
}

.title h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    color: var(--font-color);
    text-align: center;
}

.title p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    color: var(--font-color);
    text-align: center;
}

/* ===== Scrollbar CSS ===== */
/* Chrome, Edge, and Safari */
::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-track {
    background: var(--scroll-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--bg-scroll-color);
    border-radius: 10px;
    border: 3px solid var(--scroll-color);
}

/* Nav */
.navigation {
    position: fixed;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    z-index: 100;
    border-radius: 10px;
    top: 10px;
    background-color: var(--nav-bg-color);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    height: 70px;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: space-between;
}

.navigation * {
    font-weight: 700;
    color: var(--font-color);
    text-decoration: none;
    letter-spacing: 1px;
}

.navigation,
.nav-sections {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

.nav-sections {
    column-gap: 25px;
    text-transform: uppercase;
}

.anchor:hover {
    border-radius: 10px;
    background-color: var(--nav-anchor-color);
    transition: 0.2s;
}

.anchor {
    border-radius: 10px;
    padding: 5px 25px;
    font-size: 0.75rem;
    transition: 0.5s;
}

.active-link {
    border-radius: 10px;
    background-color: var(--nav-anchor-color);
    transition: 0.2s ease-out;
    padding: 5px 45px;
}

.switch-theme {
    position: absolute;
    right: 150px;
    top: 22px;
    color: white;
}

.switch-theme i {
    font-size: 28px;
    cursor: pointer;
}

/* debug */
section {
    /* height: 100vh; */
    padding-top: 100px;
}

.icon-nav {
    margin: 20px;
    font-size: 1.8rem;
}

/* Introduction section */
.introduction {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
}

.social {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-left: 100px;
}

.icon {
    margin: 20px;
    width: 44px;
    height: 44px;
    object-fit: contain;
    fill: var(--icon-color);
    border-radius: 100%;
}

.icon:hover {
    fill: var(--maincolor-desaturate);
    transition: 0.2s;
    cursor: pointer;
}

.name {
    font-family: 'Poppins', sans-serif;
    max-width: 600px;
    font-weight: 400;
    color: var(--font-color);
}

.name h1 {
    font-size: 2.3rem;
}

.name p {
    font-weight: 300;
    font-size: 1rem;
    letter-spacing: 0.5px;
}

.photo img {
    width: 300px;
    margin-right: 10vw;
}

.container {
    margin-bottom: 20px;
}

.buttons-CTA {
    margin-top: 70px;
    gap: 50px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
}

.CTA {
    background-color: var(--maincolor);
    border: none;
    border-radius: 7px;
    color: var(--font-color);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    cursor: pointer;
}

.CTA:hover {
    background-color: var(--icon-color);
    color: black;
    transition: 0.2s;
}

/* About section */
.about {
    /* background-color: var(--bg-color); */
    color: var(--font-color);
    margin: 0 10vw;
}

.aboutme-desc p {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 300;
}

.am-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.spacer {
    border: 1px solid var(--icon-color);
    margin: 5vh auto;
    /* width: 50%; */
}

.edu,
.works {
    margin: 10px 0;
    padding: 15px 0px;
}

.am-education>h1 {
    font-size: 2.5rem;
    text-align: left;
}

.am-work>h1 {
    font-size: 2.5rem;
    text-align: end;
}

.edu h1,
.works h1 {
    font-size: 1.8rem;
    font-weight: 300;
    color: var(--about-h1-color);
}

.edu h2,
.works h2 {
    font-size: 1.3rem;
    font-weight: 300;
    color: var(--about-h2-color);
}

.edu h3,
.works h3 {
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 1px;
    color: var(--about-h3-color);
}

.edu p,
.works p {
    color: var(--maincolor-desaturate);
}

.am-work .works {
    margin: 10px 0;
    padding: 15px 0px;
    text-align: end;
}

/* Project section */
.projects {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-style: solid;
    border-width: 20px 20px;
    border-radius: 100px 100px;
    border-color: var(--bg-color);
    margin: 5vh 5vw;
    padding-bottom: 100px;
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1%;
}

.projcard {
    display: inline-flex;
    outline: none;
    border: none;
    border-radius: 10px;
    width: 400px;
    height: 225px;
    position: relative;
    background-size: cover;
    box-shadow: 0px -200px 400px -55px rgba(0, 0, 0, 0.9) inset;
    -webkit-box-shadow: 0px -200px 400px -55px rgba(0, 0, 0, 0.9) inset;
    -moz-box-shadow: 0px -200px 400px -55px rgba(0, 0, 0, 0.9) inset;
    color: white;
    text-align: left;
    align-items: flex-end;
    padding-inline: 10px;
    margin: 10px;
    transition: 0.1s;
}

.projcard h1 {
    font-size: 1.4rem;
    font-weight: 500;
    position: absolute;
    bottom: 5px;
    left: 13px;
}

.projcard:hover {
    transition: 0.05s;
    outline: 5px solid var(--outline-color);
    outline-offset: 5px;
    border-radius: 10px;
    box-shadow: 0px -200px 400px 10px rgba(0, 0, 0, 0.9) inset;
    -webkit-box-shadow: 0px -200px 400px 10px rgba(0, 0, 0, 0.9) inset;
    -moz-box-shadow: 0px -200px 400px 10px rgba(0, 0, 0, 0.9) inset;
    cursor: pointer;
}

.type-card {
    display: flex;
    text-transform: uppercase;
    column-gap: 10px;
    font-size: 0.8rem;
    font-weight: 100;
    margin-bottom: 10px;
    position: absolute;
    top: 7px;
    right: 7px;
}

.type {
    border-radius: 5px;
    padding: 2px 10px;
    letter-spacing: 1px;
}

.gameplay {
    background-color: var(--gameplay-card-color);
}

.uiux {
    background-color: var(--uiux-card-color);
}

.coding {
    background-color: var(--coding-card-color);
}

.level {
    background-color: var(--level-card-color);
}

.wip {
    outline: 2px dashed var(--wip);
    box-shadow: 0px -200px 400px 10px rgba(0, 0, 0, 0.9) inset;
    -webkit-box-shadow: 0px -200px 400px 10px rgba(0, 0, 0, 0.9) inset;
    -moz-box-shadow: 0px -200px 400px 10px rgba(0, 0, 0, 0.9) inset;
    cursor: default;
}
.wip:hover{
    outline: 2px dashed var(--wip);
    outline-offset: 0px;
    box-shadow: 0px -200px 400px 10px rgba(0, 0, 0, 0.9) inset;
    -webkit-box-shadow: 0px -200px 400px 10px rgba(0, 0, 0, 0.9) inset;
    -moz-box-shadow: 0px -200px 400px 10px rgba(0, 0, 0, 0.9) inset;
    cursor: default;
}

/* Footer */
footer {
    background-color: var(--footer-bg-color);
    padding: 50px;
}

.info-box {
    display: flex;
    justify-content: space-around;

}

.info-box h1 {
    font-size: 1.2rem;
    color: var(--footer-h1-color);
}

.info-box p {
    font-size: 0.9rem;
    letter-spacing: 0.8px;
    color: var(--font-color);
}

.info-box i,
a {
    color: var(--footer-h1-color);
    text-decoration: none;
}

.copyright {
    text-align: center;
    color: var(--font-color);
    font-size: 0.5rem;
    padding-top: 100px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body {
        margin: 10px 2.5% 10px 2.5%;
    }

    .navigation {
        position: fixed;
        flex-direction: column;
        width: 95%;
        z-index: 100;
        border-radius: 10px;
        top: 10px;
        background-color: var(--nav-bg-color);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        height: auto;
        margin: 0 0;
        padding: 10px 10px 10px 10px;
        justify-content: space-between;
    }

    .nav-sections {
        gap: 0;
        align-items: center;
        justify-content: space-around;
    }

    .anchor {
        padding: 5px 5px;
        margin: 10px 5px 0;
        background-color: unset;
    }

    .active-link {
        border-radius: 10px;
        background-color: var(--nav-anchor-color);
        transition: 0.2s ease-out;
        padding: 5px 20px;
    }

    .social {
        flex-direction: row;
        justify-content: center;
        margin: 0;
    }

    .photo img {
        margin: 0 0;
        height: 200px;
        width: 200px;
    }

    .introduction {
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
        border-radius: 10px;
        padding: 100px 2.5% 0 2.5%;
        height: auto;
    }

    .introduction p {
        display: flex;
        justify-content: center;
    }

    .typed-text,
    .cursor {
        font-size: 1.3rem;
    }

    .buttons-CTA {
        flex-direction: column;
        gap: 10px;
    }

    .am-container {
        flex-direction: column;
    }

    .am-work {
        padding-top: 50px;
    }

    .am-work>h1 {
        text-align: left;
    }

    .am-work .works {
        margin: 10px 0;
        padding: 15px 0px;
        text-align: left;
    }

    .projects {
        border-radius: 10px;
        margin: 0 0;
        padding: 0 0;
    }

    .projcard {
        width: 300px;
        height: 169px;
    }

    .info-box {
        flex-direction: column;
        gap: 40px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 700px) {
    body {
        margin: 10px 2.5% 10px 2.5%;
    }

    .navigation {
        position: fixed;
        flex-direction: row;
        width: 95%;
        z-index: 100;
        border-radius: 10px;
        top: 10px;
        background-color: var(--nav-bg-color);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        height: auto;
        margin: 0 0;
        padding: 0px 10px 10px 10px;
        justify-content: space-between;
        align-items: flex-end;
    }

    .nav-sections {
        gap: 0;
        align-items: flex-end;
        justify-content: space-around;
    }

    .anchor {
        padding: 5px 5px;
        margin: 10px 5px 0;
        background-color: unset;
    }

    .active-link {
        border-radius: 10px;
        background-color: var(--nav-anchor-color);
        transition: 0.2s ease-out;
        padding: 5px 20px;
    }

    .social {
        flex-direction: row;
        justify-content: center;
        margin: 0;
    }

    .photo img {
        margin: 0 0;
        height: 170px;
        width: 170px;
        display: inline;
    }

    .introduction {
        flex-direction: column-reverse;
        text-align: center;
        border-radius: 10px;
        padding: 65px 2.5% 0 2.5%;
        height: auto;
    }

    .introduction h1 {
        font-size: 1.8rem;
    }

    .introduction p {
        display: flex;
        justify-content: center;
    }

    .typed-text,
    .cursor {
        font-size: 1.3rem;
    }

    .buttons-CTA {
        margin-top: 15px;
        justify-content: space-around;
        flex-direction: row;
        gap: 10px;
    }

    .am-container {
        flex-direction: column;
    }

    .am-work {
        padding-top: 50px;
    }

    .am-work>h1 {
        text-align: left;
    }

    .am-work .works {
        margin: 10px 0;
        padding: 15px 0px;
        text-align: left;
    }

    .about {
        padding-top: 65px;
    }

    .title p {
        font-size: 1rem;
    }

    .projects {
        border-radius: 10px;
        margin: 0 0;
        padding: 0 0;
    }

    .projcard {
        width: 270px;
        height: 152px;
    }

    .info-box {
        flex-direction: column;
        gap: 40px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 702px) and (max-width: 1000px) {
    .introduction {
        padding: 100px 2.5% 50px 2.5%;
        background-color: var(--bg-color);
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        height: 100%;

    }

    .social {
        margin: 60px 0 0 0;
        align-items: left;
    }

    .name {
        width: 500px;
    }

    .photo img {
        width: 250px;
        height: 250px;
        margin: 10px 0 0 0;
    }

    .buttons-CTA {
        flex-direction: column;
        gap: 10px;
    }

    .CTA {
        width: 100%;
    }

    .am-container {
        flex-direction: column;
        text-align: center;
    }

    .am-work {
        padding-top: 50px;
    }

    .am-work>h1,
    .am-education h1 {
        text-align: center;
    }

    .am-work .works {
        margin: 10px 0;
        padding: 15px 0px;
        text-align: center;
    }

    .projects {
        border-radius: 10px;
        margin: 10px 10px;
        padding: 0 0;
    }

    .projcard {
        width: 300px;
        height: 169px;
    }

    .info-box {
        flex-direction: row;
        gap: 70px;
    }
}